.page.page {
  display: grid;
  box-sizing: border-box;
  width: 1280px;
  height: 769px;
  padding-inline: 164px;
  padding-block: 28px;
  margin: auto;
  border-radius: 0;
  border-width: 0;
  background-image: url('/soft-rainbow.svg');
}

.featurePanel.featurePanel {
  padding-inline: 2rem;
  padding-block: 1.25rem;
}

.demoPanel.demoPanel {
  display: grid;
  block-size: 400px;
  justify-content: center;
  align-content: center;
}

.profile {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2rem;
  align-items: center;
  font-size: 18px;
}
.profileImg {
  border-radius: 50%;
  border: var(--bd-border);
  width: 125px;
}
.featureList {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
}
